<div id="page-top">
  <!-- Navigation-->
  <nav
    class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top"
    id="sideNav"
  >
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">Tállyto Rodrigues</span>
      <span class="d-none d-lg-block"><img
          class="img-fluid img-profile rounded-circle mx-auto mb-2"
          src="public/assets/img/profile.jfif"
          alt="..."
        /></span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    ><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav">
        <li class="nav-item"><a
            class="nav-link js-scroll-trigger"
            href="#about"
          >About</a></li>
        <li class="nav-item"><a
            class="nav-link js-scroll-trigger"
            href="#experience"
          >Experience</a></li>
        <li class="nav-item"><a
            class="nav-link js-scroll-trigger"
            href="#education"
          >Education</a></li>
        <li class="nav-item"><a
            class="nav-link js-scroll-trigger"
            href="#skills"
          >Skills</a></li>
        <li class="nav-item"><a
            class="nav-link js-scroll-trigger"
            href="#interests"
          >Interests</a></li>
        <li class="nav-item"><a
            class="nav-link js-scroll-trigger"
            href="#awards"
          >Awards</a></li>
      </ul>
    </div>
  </nav>
  <!-- Page Content-->
  <div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
      <div class="resume-section-content">
        <h1 class="mb-0">
          Tállyto
          <span class="text-primary">Rodrigues</span>
        </h1>
        <div class="subheading mb-5">
          Back-end Developer and Streamer · Curitiba, Paraná · (95) 98124-3461 ·
          <a href="mailto:name@email.com">rodrigues.tallyto@gmail.com</a>
        </div>
        <p class="lead mb-5">Tenho experiência no desenvolvimento de aplicações
          web, já trabalhei com os frameworks: express, nestjs e serverless.
          Tenho conhecimento de bancos relacionais e não relacionais. Já em
          cloud utilizo os serviços da AWS: lambda, sqs, sns, s3 entre outros.
        </p>
        <div class="social-icons">
          <a
            class="social-icon"
            href="https://www.linkedin.com/in/tallyto/"
            target="_blank"
          ><i class="fab fa-linkedin-in"></i></a>
          <a
            class="social-icon"
            href="https://github.com/otallyto"
            target="_blank"
          ><i class="fab fa-github"></i></a>
          <a
            class="social-icon"
            href="https://twitter.com/TallyScript"
            target="_blank"
          ><i class="fab fa-twitter"></i></a>
          <a
            class="social-icon"
            href="https://www.facebook.com/otallyto/"
            target="_blank"
          ><i class="fab fa-facebook-f"></i></a>
          <a
            class="social-icon"
            href="https://www.instagram.com/otallyto/"
            target="_blank"
          ><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </section>
    <hr class="m-0" />
    <!-- Experience-->
    <section class="resume-section" id="experience">
      <div class="resume-section-content">
        <h2 class="mb-5">Experience</h2>
        <div
          class="d-flex flex-column flex-md-row justify-content-between mb-5"
        >
          <div class="flex-grow-1">
            <h3 class="mb-0">Back-end Developer</h3>
            <div class="subheading mb-3">OmniChat</div>
            <p>Desenvolvimento microsserviços;<br />
              Realizar correções de bugs;<br />
              Criação de funcionalidades novas;<br />
              Monitorar as aplicações;<br />
              Sugerir soluções e arquiteturas.</p>
          </div>
          <div class="flex-shrink-0"><span class="text-primary">July 2020 -
              Present</span></div>
        </div>
        <div
          class="d-flex flex-column flex-md-row justify-content-between mb-5"
        >
          <div class="flex-grow-1">
            <h3 class="mb-0">Back-end Developer - Freelance</h3>
            <div class="subheading mb-3">buddy.vet</div>
            <p>Desenvolvimento do MVP.
              <br />
              Integração com serviços terceiros.
              <br />
              Implementação do CI/CD.
              <br />
              Stack atual (Node.JS, Docker e outros)</p>
          </div>
          <div class="flex-shrink-0"><span class="text-primary">April 2020 -
              July 2020</span></div>
        </div>

      </div>
    </section>
    <hr class="m-0" />
    <!-- Education-->
    <section class="resume-section" id="education">
      <div class="resume-section-content">
        <h2 class="mb-5">Education</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between">
          <div class="flex-grow-1">
            <h3 class="mb-0">Instituto Federal de Roraima</h3>
            <div class="subheading mb-3">Technologist in systems analysis and
              development</div>
          </div>
          <div class="flex-shrink-0"><span class="text-primary">April 2019 -
              Present</span></div>
        </div>

        <div
          class="d-flex flex-column flex-md-row justify-content-between mb-5"
        >
          <div class="flex-grow-1">
            <h3 class="mb-0">Universidade Federal de Roraima - not completed</h3>
            <div class="subheading mb-3">Bachelor of Science</div>

          </div>
          <div class="flex-shrink-0"><span class="text-primary">June 2014 -
              November 2019</span></div>
        </div>

      </div>
    </section>
    <hr class="m-0" />
    <!-- Skills-->
    <section class="resume-section" id="skills">
      <div class="resume-section-content">
        <h2 class="mb-5">Skills</h2>
        <div class="subheading mb-3">Programming Languages & Tools</div>
        <ul class="list-inline dev-icons">
          <li class="list-inline-item"><i class="fab fa-html5"></i></li>
          <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
          <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
          <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
          <li class="list-inline-item"><i class="fab fa-npm"></i></li>
          <li class="list-inline-item"><i class="fab fa-aws"></i></li>
          <li class="list-inline-item"><i class="fab fa-digital-ocean"></i></li>
          <li class="list-inline-item"><i class="fab fa-python"></i></li>
          <li class="list-inline-item"><i class="fab fa-github"></i></li>

        </ul>
        <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
          <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            Agile Development & Scrum
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            Clean Architecture
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            Clean Code
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            Test Driven Development
          </li>

        </ul>
      </div>
    </section>
    <hr class="m-0" />
    <!-- Interests-->
    <section class="resume-section" id="interests">
      <div class="resume-section-content">
        <h2 class="mb-5">Interests</h2>
        <p>Apart from being a web developer, I enjoy most of my time being
          outdoors.</p>
        <p class="mb-0">When forced indoors, I follow a number of sci-fi and
          fantasy genre movies and television shows, I am an aspiring chef, and
          I spend a large amount of my free time exploring the latest technology
          advancements in the back-end web development world.</p>
      </div>
    </section>
    <hr class="m-0" />
    <!-- Awards-->
    <section class="resume-section" id="awards">
      <div class="resume-section-content">
        <h2 class="mb-5">Awards & Certifications</h2>
        <ul class="fa-ul mb-0">
          <li>
            <span class="fa-li"><i
                class="fas fa-trophy text-warning"
              ></i></span>
            Aplicações serverless na AWS
          </li>
          <li>
            <span class="fa-li"><i
                class="fas fa-trophy text-warning"
              ></i></span>
            Cloud Computing & Serverless
          </li>
          <li>
            <span class="fa-li"><i
                class="fas fa-trophy text-warning"
              ></i></span>
            DEVOPS & AGILE CULTURE
          </li>
          <li>
            <span class="fa-li"><i
                class="fas fa-trophy text-warning"
              ></i></span>
            <li>
              <span class="fa-li"><i
                  class="fas fa-trophy text-warning"
                ></i></span>
              Projetos ágeis com SCRUM
            </li>
          </li>
          <li>
            <span class="fa-li"><i
                class="fas fa-trophy text-warning"
              ></i></span>
            2
            <sup>st</sup>
            Place - Hackathon OmniChat - Rip Live Query
          </li>

        </ul>
      </div>
    </section>
  </div>
  <!-- Bootstrap core JS-->
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
  ></script>
  <!-- Core theme JS-->
  <script src="js/scripts.js"></script>
</div>