<main>
  <div class="container py-4">

    <div class="p-5 mb-4 bg-light rounded-3">

      <img src="profile.jpg" alt="profile" style="width: 200px; height: 350;">

      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Tállyto Rodrigues</h1>
        <p class="col-md-8 fs-4">Back-end developer specialist in serverless applications</p>
      </div>

    </div>

    <div class="row">
      <div class="col">

        <h3>About me</h3>

        <p>Tállyto Rodrigues adora programar, tocar violão, andar de bicicleta e jogar video game. Desenvolveu um
          aplicativo de passeios com pets (não deu certo), e hoje trabalha na constução de soluções de
          atendimentos automatizados utilizando a arquitetura serverless.
        </p>
      
      </div>
      <div class="col">
        <h3>Contact</h3>
        <a href="https://twitter.com/TallyScriptt"> Twitter </a> <br>
        <a href="https://www.linkedin.com/in/tallyto/"> Linkedin </a> <br>
        <a href="https://github.com/otallyto"> Github </a>
      </div>
    </div>

    <footer class="pt-3 mt-4 text-muted border-top">
      &copy; 2021
    </footer>
  </div>
</main>